*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background: #212121;
}

/* --------- HEADER ---------*/

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #212121;
    border-bottom: solid 0.05rem rgb(90, 90, 90);
    padding: 20px;
    font-family: "Roboto Condensed", sans-serif;
    position: sticky;
    top: 0;
    z-index: 99;
}

.header__div-main{
    display: flex;
    margin: 0 0 16px 0;
}

.header__div-categorias{
    display: flex;
    color: white;
    gap: 1.5rem;
}

.header__div-categorias-p{
    background-color: #3b3b3b;
    padding: 0.5rem 1rem;
    border-radius: 50px;
}   

.header__div-categorias-p:hover{
    background-color: #454545;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
}

.header__img{
    height: 2.5rem;
}

.header__h1{
    color: white;
    margin: 0 1rem;
}

.header__form--container{
    display: flex;
    align-items: center;
    background-color: #454545;
    padding: 8px 0;
    border-radius: 4px;
    width: max-content;
    transition: 0.3s ease;
    margin: 0 0 0 16px;
}

.header__form--container:focus-within{
    background-color: #616161;
    border: solid 1px #cecece;
}

.form__group{
    display: flex;
}

.form__label{
    width: 18rem;
    background-color: #454545;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    transition: 0.3s ease;
}

.form__label:focus{
    outline: none;
    background-color: #616161;
}

.form__label::placeholder{
    color: rgb(198, 198, 198);
    font-family: "Roboto Condensed", sans-serif;
}

.form__group--img{
    height: 1.25rem;
    margin: 0 0.5rem;
}

.header__nav{
    display: flex;
    align-items: center;
}

.nav__ul{
    list-style: none;
    display: flex;
    margin: 0 1rem;
}

.nav__li--a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    position: relative;
}

.nav__li--a-active{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    position: relative;
}

.nav__li--a-active::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 100px;
}

.nav__li--a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease, left 0.25s ease;
}

.nav__li--a:hover::after{
    width: 100%;
    left: 0;
}

.header__buttons{
    display: flex;
    gap: 1rem;
    height: 2.5rem;
    margin: 0 1.25rem;
}

.header__button--login{
    font-family: "Roboto Condensed", sans-serif;
    padding: 1rem;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.25rem;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.header__button--registrar{
    font-family: "Roboto Condensed", sans-serif;
    background-color: #454545;
    color: white;
    font-size: 1em;
    border-radius: 0.25rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.header__button--login:hover{
    background-color: #2e2e2e;
}

.header__button--registrar:hover{
    background-color: #5d5d5d;
}

/* --------- BODY ---------*/

.main{
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    gap: 3rem;
}

.main__h2{
    color: white;
    font-size: 36px;
    margin: 20px 0 0 0;
}

.main__aside{
    margin: 1rem 0;
    max-width: 18.75rem;
    color: white;
    position: sticky;
    align-self: baseline;
    top: 8rem;    
}

.main__aside--div{
    border-bottom: 1px solid #616161;
    margin: 0.5rem 0;
}

.main__aside--ul{
    list-style: none;
}

.aside__li--div{
    display: flex;
    align-items: center;
    background-color: #3b3b3b;
    height: 2.5rem;
    border-radius: 4px;
    margin: 0.5rem 0;
}

.aside__li--a{
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}

.main__section{
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__article{
    color: white;
    width: inherit;
}

.article__header{
    margin: 1rem auto 1.5rem auto;
}

.article__header--h2{
    color: white;
    text-decoration: none;
}

.article__header--h2:hover{
    color: #b6b6b6;
}

.article__header--time{
    font-size: .875rem;
}

.article__div{
    display: flex;
    gap: 1rem;
}

.article__div-p{
    background-color: #3b3b3b;
    margin: 0.5rem 0 0 0;
    padding: 0.25rem 0.5rem;
    border-radius: 50px;
    font-size: 14px;
}

.article__div-p:hover{
    background-color: #454545;
    cursor: pointer;
}

.article__figure{
    margin: auto auto 1.5rem auto;
}

.figure__img{
    aspect-ratio: 640 / auto;
    object-fit: cover;
    width: 100%;
}

.article__p{
    line-height: 1.75rem;
    font-size: 0.9rem;
    margin: 0 0 1.5rem 0;
}

.article__footer{
    position: relative;
    border-bottom: 1px solid #616161;
}

.article__footer--button{
    color: white;
    width: fit-content;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-radius: 0.25rem;
    height: 36px;
    display: flex;
    align-items: center;
    justify-self: end;
}

.article__footer--button:hover{
    background-color: #2e2e2e;
}

.article__footer--button-back{
    color: white;
    width: fit-content;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-radius: 0.25rem;
    height: 36px;
    display: flex;
    align-items: center;
    justify-self: start;
}

.article__footer--button-back:hover{
    background-color: #2e2e2e;
}

/* --------- Log In & Sign Up---------*/

.main__login{
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    gap: 3rem;
}

.main__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #454545;
    margin: 4rem auto;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    font-family: "Roboto Condensed", sans-serif;
    width: fit-content;
}

.form__h2{
    margin: 0 0 1rem 0;
    font-size: 2rem;
    color: white;
}

.form__div{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.form__div--checkbox{
    display: flex;
    gap: 0.5rem;
    margin: 8px 0 0 0;
}

.form__input{
    background-color: #5d5d5d;
    height: 2rem;
    border-radius: 4px;
}

.form__input--mensaje{
    background-color: #5d5d5d;
    height: 2rem;
    border-radius: 4px;
    resize: vertical;
}

.form__input:focus{
    outline: none;
    font-family: "Roboto Condensed", sans-serif;
}

.form__input::placeholder{
    color: #c8c8c8;
    font-family: "Roboto Condensed", sans-serif;
}

.form__input:focus-within{
    background-color: #616161;
    border: solid 1px #cecece;
}

.form__a{
    color: white;
    font-weight: bolder;
}

.form__button{
    width: 100%;
    height: 2rem;
    margin: 1.5rem 0 0.5rem 0;
    border-radius: 4px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    background-color: #bfbfbf;
}

.form__button:hover{
    background-color: #ffffff;
    cursor: pointer;
}

.form__div--registro{
    display: flex;
    gap: 8px;
    margin: 1rem 0 0 0;
}

.form__p{
    color: white;
}

/* --------- Ultimas Noticias ---------*/

.main__main{
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    margin: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
}

.main__section--ultima-hora{
    width: 45vw;
    display: flex;
}

.main__card{
    display: flex;
    border: solid 1px rgb(169, 169, 169);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.article__figure--card{
    margin: 0 1rem 0 0;
    aspect-ratio: 1 / 1;
}

.figure__img--card{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article__div--card-text{
    display: flex;
    flex-direction: column;
}

.article__header--h2-card{
    color: white;
    display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    overflow: hidden;
}

.article__header--h2-card:hover{
    color: #b6b6b6;
}

.article__div--card{
    height: 50%;
    color: white;
}

.article__div--p-card{
    display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    overflow: hidden;
}

/* --------- Footer ---------*/


.footer{
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    text-align: center;
    margin: 0 0 1rem 0;
}

