*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

.header__h1{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}

.header__ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.header__li{
    padding: 0 1rem;  
}

.header__li--a{
    color: white;
    text-decoration: none;
}

.header__li:hover{
    text-decoration: underline;
    font-weight: bolder;
}

.main__section{
    display: flex;
    justify-content: space-around;
}

.main__section--1{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    border: solid 3px black;
    max-width: fit-content;
    border-radius: 8px;
    position: relative;
    inset: 50% 50%;
    translate: -50% 50%;
}

.main__section--1:hover{
    box-shadow: 5px 10px #626262;
    transition: 0.5s;
}

.section__img--1{
    height: 300px;
    padding: 40px;
}

.section__h2{
    font-size: 60px;
}

.section__audio{
    position: relative;
    inset: 50% 50%;
    translate: -50% 50%;
}

