*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* --------- HEADER ---------*/

.header{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-evenly;
}

.header__picture{
    display: flex;
    align-items: center;
}

.picture__img{
    height: 3.5rem;
}

/* .header__h1{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
} */

.nav__burger{
    display: none;
}

.nav__ul{
    font-family: "Roboto Mono", monospace;
    display: flex;
    list-style: none;
    margin: 0 1rem;
}

.ul__li{
    margin: 0 1rem;
}

.li__a{
    text-decoration: none;
    color: #a65f30;
}

.li__a:hover{
    text-decoration: none;
    color: #a65f30;
    font-weight: 800;
}

/* --------- BODY ---------*/

.main__section--hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/poster4.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main__section--hero .section__h2{
    width: 40%;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0 1.5rem 0;
    color: white;
}

.main__section--hero .section__subtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    color: white;
}

.section__subtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Roboto Mono", monospace;
    color: #a65f30;
}

.hero__button{
    font-family: "Roboto Mono", monospace;
    padding: 8px 16px;
    margin: 1.5rem 0;
    font-size: 1rem;
    background-color: white;
    color: #a65f30;
    border: 2px solid #a65f30;
    border-radius: 50px;
}

.article__body{
    display: flex;
    margin: 3rem 5rem;
}

.article__body .article__div{
    width: 70%;
    justify-content: center;
}

.article__body .section__h2{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 3rem;
    padding: 1.5rem 0;
    color: #a65f30;
}

.article__body .section__subtitle .section__p{
    font-family: "Roboto Mono", monospace;
    margin: 0 8rem 1rem 0;
}

.section__button{
    font-family: "Roboto Mono", monospace;
    padding: 8px 16px;
    margin: 1.5rem 0;
    font-size: 1rem;
    background-color: white;
    color: #a65f30;
    border: 2px solid #a65f30;
    border-radius: 50px;
    transition: all .5s ease;
}

.section__button:hover{
    background-color: #a65f30;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.tarjeta{
    height: 22rem;
    width: 14.5rem;
    perspective: 1000px;
}

.tarjeta__inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .7s ease-out;
}

.tarjeta:hover .tarjeta__inner{
    transform: rotateY(180deg);
}

.tarjeta__delante,
.tarjeta__detras{
    position: absolute;
    inset: 0;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta__detras{
    transform: rotateY(180deg)
}

.tarjeta__delante img,
.tarjeta__detras img{
    height: 22rem;
    border-radius: 1rem 2rem;
}