*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

.main{
    margin: 1rem;
}

.main__div{
    background-color: #ccc;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #fcfcfc;

}

.div__bloque--activo{
    background-color: #e8e8e8;
    margin: 0 0 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
	box-shadow: 10px 10px 20px #b0b0b0, -10px -10px 20px #fcfcfc;
}

.div__bloque{
    background-color: #e8e8e8;
    margin: 0 0 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
	box-shadow: 10px 10px 20px #b0b0b0, -10px -10px 20px #fcfcfc;
}

.div__h2{
    background-color: #ccc;
    padding: 0.25rem;
    border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #fcfcfc;
}

.div__h2:hover{
    background-color: #ccc;
    padding: 0.25rem;
    border-radius: 0.5rem;
	box-shadow: inset 5px 5px 10px #fcfcfc, inset -5px -5px 10px #b0b0b0;
    cursor: pointer;
}

.div__contenido{
    padding: 1rem 0 0 0;

}