*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

.main{
    margin: 2rem;
}

.main__h2{
    padding: 24px 0;
}

/*-- Acordeón --*/

.acordeon{
    background-color: #ccc;
    width: 40%;
    max-width: 120em;
    padding: 2rem;
    border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #fcfcfc;
}

.acordeon .bloque{
    background-color: #e8e8e8;
    margin: 0 0 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
	box-shadow: 10px 10px 20px #b0b0b0, -10px -10px 20px #fcfcfc;
    border: #b0b0b0 solid 3px;
}

.acordeon .h2{
    background-color: #ccc;
    padding: 0.25rem;
    border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #fcfcfc;
}

.acordeon .h2:hover{
    background-color: #ccc;
    padding: 0.25rem;
    border-radius: 0.5rem;
	box-shadow: inset 5px 5px 10px #fcfcfc, inset -5px -5px 10px #b0b0b0;
    cursor: pointer;
}

.acordeon .contenido{
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.acordeon .bloque.activo .contenido{
    height: fit-content;
    padding: .5rem 0;
}

/*-- Pestañas --*/

.contenedor{
    width: 50%;
    max-width: 120em;
    background-color: #ccc;
    padding: 1.5em;
    border-radius: 1rem;
}

.contenedor .ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.contenedor .li{
    list-style-type: none;
}

.contenedor .button{
    padding: 1em;
    margin: 0 1em 0 0;
    border-radius: 8px;
    transition: all .5s ease;
    background-color: #e9e9e9;
    font-size: 14px;
}

.contenedor .button:hover{
    cursor: pointer;
    background-color: #dddddd;
}

.contenedor .button.activo{
    background-color: #858585;
    color: white;
    font-weight: 600;
}

.contenedor .subcontenedor{
    position: relative;
    min-height: 10vh;
}

.contenedor .sub--contenido{
    background-color: #b0b0b0;
    margin: 1em 0;
    padding: 1em;
    position: absolute;
    top: 0;
    border-radius: .5rem;
    opacity: 0;
    transition: all .5s ease;
}

.contenedor .sub--contenido.activo{
    opacity: 1;
}

/*-- Lightbox --*/

.grid{
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.grid .img{
    width: 300px;
    aspect-ratio: 2 / 3;
    border-radius: 16px;
    box-shadow:  .5rem .5rem 1rem #bebebe, -.5rem -.5rem 1rem #ffffff;
    transition: all .5s ease;
}

.grid .img:hover{
    cursor: pointer;
    transform: scale(0.97);
}

.grid .img:active{
    transform: scale(1.1);
}

.lightbox{
    width: 100%;
    height: 100%;
    background-color: #00000041;
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all .5s ease;

    opacity: 0;
    pointer-events: none;
}

.lightbox.isActive{
    opacity: 1;
    pointer-events: auto;
}

.lightbox .content{
    position: relative;
}

.lightbox .close{
    width: 1.5rem;
    cursor: pointer;
    transition: all .5s ease;
    background: none;
    position: absolute;
    top: 2rem;
    left: 25.5rem;
}

.lightbox .close:hover{
    transform: scale(0.97);
}

.lightbox .close:active{
    transform: scale(1.1);
}

.lightbox .grande{
    width: 90%;
    max-width: 900px;
    height: 70vh;
    object-fit: cover;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4);
    border-radius: 1rem;
}

.lightbox .svg{
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    color: white;
}

