*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

.main{
    margin: 1rem;
}

.acordeon{
    background-color: #ccc;
    width: 40%;
    max-width: 120em;
    padding: 2rem;
    border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #fcfcfc;
}

.acordeon .bloque{
    background-color: #e8e8e8;
    margin: 0 0 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
	box-shadow: 10px 10px 20px #b0b0b0, -10px -10px 20px #fcfcfc;
    border: #b0b0b0 solid 3px;
}

.acordeon .h2{
    background-color: #ccc;
    padding: 0.25rem;
    border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #fcfcfc;
}

.acordeon .h2:hover{
    background-color: #ccc;
    padding: 0.25rem;
    border-radius: 0.5rem;
	box-shadow: inset 5px 5px 10px #fcfcfc, inset -5px -5px 10px #b0b0b0;
    cursor: pointer;
}

.acordeon .contenido{
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.acordeon .bloque.activo .contenido{
    height: fit-content;
    padding: .5rem 0;
}