*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    height: 100vh;
}

.header {
    background: #22C1C3;
    background: linear-gradient(91deg, #22c1c3 0%, #cf36c0 51%, #fdbb2d 100%);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

.header__h1{
    font-size: 1.5em;
}

.main{
    margin: 40px;
}

.section__h2{
    font-size: 52px;
}

.section__h3{
    font-size: 36px;
    padding: 0 0 8px 0;
}

.section__article{
    display: flex;
}

.form__container{
    background-color: #f2d4ca;
    border-radius: 16px;
    padding: 16px;
    max-width: 500px;
    margin: 2rem auto;
    box-shadow: 8px 8px #8d7b746b;
    height: fit-content;
}

.form__group{
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
}

.form__group:focus-within{
    background-color: #ffffff;
    padding: 4px;
    border-radius: 8px;
    transition: 0.4s ease;
}

.form__label {
  font-weight: 700;
}

.form__label--input{
    padding: 4px 0 4px 8px;
    border-radius: 4px;
    resize: vertical;
}

.form__label--input:focus{
    outline: none; /*reemplaza el outline del browser por el border que pongo abajo*/
    border: solid 2px #f2d4ca;
}

.form__label--input:placeholder-shown{
    border-color: #da5353;
}

.form__button{
    width: 100%;
    padding: 8px 24px;
    background-color: #6ed389;
    color: white;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;

}
    
.form__button:hover{
    background-color: #59a86e;
    border: solid 1px white;
}   