*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    height: 100vh;
}

.header {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

.header__h1{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}

.main__h2{
    padding: 20px;
}

.main__h3{
    padding: 0 0 20px 20px;
}

.main__section{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.section__p{
    width: 350px;
}

.section__p--black{
    color: red;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}