*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.header {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

.header__h1{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}

.header__ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
}

li{
    padding: 0 .25rem;
    position: relative; 
}

li::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.25s ease, left 0.25s ease;
}

li:hover::after,
li:focus-visible::after{
    width: 100%;
    left: 0;
}

.tab-button{
    background-color: transparent;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
}

.tab-button:hover{
    cursor: pointer; 
}

.tab-button.active{
    background-color: rgb(109, 109, 230);
}

body{
    height: 100vh;
}

.main{
    margin: 25px;
}

.contenido.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    height: auto;
}

.contenido{
    opacity: 0;
    transition: opacity .3s ease;
    height: 0;
    overflow: hidden;
}

.div__h2{
    margin: 0 0 1.5rem 0;
}

.contenedor{
    display: flex;
    gap: 1.5rem;
}

.tarjeta{
    width: 300px;
    aspect-ratio: 1 / 1;
    perspective: 1000px;
}

.tarjeta__inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .7s ease-out;
}

.tarjeta:hover .tarjeta__inner{
    transform: rotateY(180deg);
}

.tarjeta__delante,
.tarjeta__detras{
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta__delante{
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 20px #bebebe, -5px -5px 20px #ffffff;
    font-weight: 600;
    font-size: 30px;
    padding: 24px;
}

.tarjeta__detras{
    transform: rotateY(180deg)
}

.tarjeta__detras img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.video{
    height: 70vh; 
}