*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Minecraft";
    src: url(../fonts/Minecraft.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.main{
    margin: 3rem;
}

.main__h1{
    font-family: "Minecraft";
    padding: 0 0 1.5rem 0;
}

.main__section{
    display: flex;
    gap: 2rem;
}

.main__article{
    font-family: 'Clash Display', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    width: 33%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    box-shadow:0 0 40px -10px rgba(0,0,0,.3), 0 0 25px -15px rgba(0,0,0,.2);
}

.article__h2{
    text-align: center;
    padding: 0 0 1rem 0;
    text-decoration: underline;
}

.article__form{
    display: flex;
    flex-direction: column;
}

.form__div{
    margin: 0 0 0.5rem 0;
}

.form__input{
    font-family: 'Clash Display', sans-serif;
    background-color: #e3e3e3;
    height: 1.5rem;
    border-radius: 4px;
    padding: 0 0 0 0.5rem;
}

.form__input:focus{
    outline: none;
}

.form__input::placeholder{
    font-family: 'Clash Display', sans-serif;
    color: #585858;
}

.form__submit{
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    height: 2rem;
    margin: 0 0 1rem 0;
    padding: 0 2rem;
    border-radius: 0.5rem;
    background-color: crimson;
    color: white;
}

.section__div--result{
    background-color: #e3e3e3;
    padding: 1rem 0 0.5rem 1rem;
    border-radius: 0.5rem;
    display: none;
}

.div__p{
    padding: 0 0 0.5rem 0;
}

.div__img{
    aspect-ratio: 1 / 1;
    width: 170px;
    content: cover;
}

.select__category{
    font-family: 'Clash Display', sans-serif;
    margin: 1rem 0.5rem;
    height: 1.5rem;
}

.product-card{
    border: 2px solid #aeaeae;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-radius: .5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.product-card--img{
    width: 8rem;
    height: auto;
    padding: 1rem 0 0 0;
    align-self: center;
}