*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    height: 100vh;
}

.header {
    background: #EEAECA;
    background: linear-gradient(90deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

.header__h1{
    font-size: 1.5em;
    padding-bottom: 0.5rem;
}

#header{
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(90deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    justify-content: center;
}

ul{
    list-style:none;
}

.nav>li{
    float: left;
}

.nav li a{
    background-color: #ffffff00;
    color: black;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover{
    background-color: #0000002a;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul{
    display: block;
}

.nav li ul li{
    position: relative;
    background-color: white;
}

.nav li ul li ul{
    right: -140px;
    top: 0;
}

/*-----BODY-----*/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    justify-content: center;
}

.gallery img{
    width: 275px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: #0000004a 5px 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#lightbox.active{
    visibility: visible;
    opacity: 1;
}

#lightbox #lightbox-backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
}

#lightbox img{
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#lightbox #lightbox-close{
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 10;
    transition: color 0.2s;
}

#lightbox #lightbox-close:hover{
    color: #ff4444;
}

#lightbox #content{
    position: relative;
    z-index: 5;
}