
:root{
    --clr-bg:#242424;
    --clr-main:#FF7262;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--clr-bg);
    padding: 3rem 7.5rem;
    font-family: "Bricolage Grotesque", sans-serif;
}

.main{
    
}

/* --------- HEADER ---------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2.8125rem 0;
}

.header__img{
    height: 2.5rem;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 5.125rem;
    font-size: 32px;
    font-weight: 700;
}

.header__ul{
    display: flex;
    list-style: none;
}

.header__li{
    position: relative;
    padding: 0 41px;
}

.li__a{
    position: relative;
    text-decoration: none;
    color: white;
}

/* Pseudoelemento para el subrayado */
.li__a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease, left 0.25s ease;
}

/* Pseudoelemento para el subrayado - Activado */
.li__a:hover::after{
    width: 100%;
    left: 0;
}

/* --------- Landing Page ---------*/

.main--landing{
    display: grid;
    /*altura siendo el total de la altura menos el header, su margin bottom y los paddings arriba y abajo del body */
    height: calc(100vh - 11.5625rem); 
    gap: 1.25rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

/*Propiedades generales para las casillas*/
.div{
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Casilla de la imagen de perfil*/
.main__profile{ 
    grid-row: 1 / 3; 
    grid-column: 1 / 2;
    overflow: hidden;
    border-radius: 1.5rem;
}

.picture__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Casilla Juan S. Burgos */
.main__title{
    grid-row: 1 / 2; 
    grid-column: 2 / 6;
    display: flex;
    justify-content: flex-start;
    font-size: 4.25rem;
    font-weight: 700;
}

/* Casilla de información aside */
.main__general{ 
    grid-row: 3 / 6; 
    grid-column: 1 / 2; 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-main);
    color: white;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem;
}

/* Descripción de perfil */
.general__info{
    font-size: 1.25rem;
}

/* clase general para textos en bold */
.span__text--bold{
    font-weight: bolder;
}

/* Contenedor con los links externos + botón*/
.general__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* Botón de Descargar CV */
.general__button{
    width: 100%;
    padding: .5rem;
    background-color: white;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    border-radius: 5rem;
    color: var(--clr-main);
    cursor: pointer;
}

/* Contenedor de los links externos */
.general__links--icons{
    display: flex;
    gap: 0.75rem;
}

/* Contenedor de cada íncono individual */
.links__icon--bg{
    background-color: white;
    color: var(--clr-main);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

/* ícono de links de redes */
.links__icon--logo{
    width: 1.75rem;
    aspect-ratio: 1 / 1;
}

/* Casilla de proyectos destacados */
.main__featured{ 
    grid-row: 2 / 5; 
    grid-column: 2 / 4;
    font-size: 3rem;
    font-weight: 600;
}

/* Casilla de contacto */
.main__contact{ 
    grid-row: 5 / 6; 
    grid-column: 2 / 4;
    font-size: 3rem;
    font-weight: 600;
}

/* Casilla de propuesta de valor */
.main__value{ 
    grid-row: 3 / 6; 
    grid-column: 4 / 5; 
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

/* Casilla Sobre Mí */
.main__about{ 
    grid-row: 4 / 6; 
    grid-column: 5 / 6;
    font-size: 3rem;
    font-weight: 600;
}

/* Toolkit en L */
.main__toolkit--top{ 
    grid-row: 2 / 3; 
    grid-column: 4 / 5;
    font-size: 3rem;
    font-weight: 600;
}
.main__toolkit--side{ 
    grid-row: 2 / 4; 
    grid-column: 5 / 6; 
    position: relative;
    overflow: visible;
    z-index: 0;
}

/* Colocación del efecto del border radius invertido */
/* ---REVISAR SI SE PUEDE POSICIONAR EN EL BOTTOM LEFT DE ALGUNO DE LAS CELDAS!!!! ---*/
.main__toolkit--side::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    top: 8.5rem;
    left: -1.5rem;

    /* Esquina interior redondeada */
    background: radial-gradient(circle at bottom left, transparent 1.5rem, #fff 1.51rem);
}


/* Estilos visibles */
.main__toolkit {
    background: #fff;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Para que se lea como un solo bloque */
.main__toolkit--top {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.main__toolkit--side {
    border-top-left-radius: 0;
}

/* Anular gap visual entre las dos piezas */
.main__toolkit--top  { margin-right: -1.25rem; } /* compensa el gap */