
:root{
    --clr-main:#FF7262;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #242424;
    padding: 56px 98px;
}

/* --------- HEADER ---------*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    height: 2.5rem;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 5.125rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.header__ul{
    display: flex;
    list-style: none;
}

.header__li{
    position: relative;
    padding: 0 41px;
}

.li__a{
    position: relative;
    text-decoration: none;
    color: white;
}

.li__a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.25s ease, left 0.25s ease;
}

.li__a:hover::after{
    width: 100%;
    left: 0;
}